<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock title %} - IvanBlog</title>
	<link rel="stylesheet" href="https://unpkg.com/98.css">
	<link rel="stylesheet" href="/static/css/styles.css">
	{% endblock head %}
</head>
<body>
	<div class="window">
		<div class="title-bar">
			<div class="title-bar-text">{% block window_title %}{% endblock window_title %}</div>
			<div class="title-bar-controls">
				<button aria-label="Minimize"></button>
				<button aria-label="Maximize"></button>
				<button aria-label="Close"></button>
			</div>
		</div>
		<div class="window-body">
			{% block content %}{% endblock content %}
		</div>
	</div>
</body>
</html>
